/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {/*max-height:392px; */overflow:hidden; display: none; -webkit-backface-visibility: hidden; position:relative;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flexslider img {width: 100%; display: block;}

.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin:0; position: relative; zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a.flex-prev {width:44px; height:42px; margin: -8px 0 0; display: block; background: url(../images/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; opacity:.1; -webkit-transition: all .3s ease;}
.flex-direction-nav a.flex-next {width:44px; height:42px; margin: -8px 0 0; display: block; background: url(../images/bg_direction_nav2.png) no-repeat 0 0; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; opacity:.1; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0; right:18px; }
.flex-direction-nav .flex-prev {left:18px;}
.flexslider .flex-next:hover {opacity: 0.7;}
.flexslider .flex-prev:hover {opacity: 0.7;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

.flex-caption {background:none; zoom: 1;}
.flex-caption {display:block; left:0; position:absolute; bottom:185px; width:100%; text-align:center;}

.flex-caption h2{
	font-family: 'Roboto';
	font-size:16px;
	font-weight:normal;
	color:#fff;
	margin:0;
	background:url(../images/banner-caption.png) center 0 repeat-y;
	padding:10px 15px;
}
.flex-caption p{
	font-size:20px;
	line-height:26px;
	color:#fff;
	margin:0;
	padding:0 115px;
}



.flex-caption2 {display:block; left:0; position:absolute; top:250px; width:100%; text-align:center;}

.flex-caption2 h2{
	font-family: 'Roboto';
	font-size:16px;
	font-weight:normal;
	color:#fff;
	margin:0;
	background:url(../images/banner-caption.png) center 0 repeat-y;
	padding:10px 15px;
}

.flex-caption2 p{
	font-size:20px;
	line-height:26px;
	color:#fff;
	margin:0;
	padding:0 115px;
}


/*.flex-caption p span b{color:#ce0000;}*/


/* Control Nav */
.flex-control-nav {width:100%; position: absolute; padding:80px 0 10px 0; bottom:0px; background:url(../images/slider/banner_ol.png) center bottom no-repeat; text-align:center; z-index:1;}
.flex-control-nav li {margin: 0 3px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 14px; height: 14px; overflow:hidden; display: block; background: #ffe6eb; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius:50%;}
.flex-control-paging li a:hover { background:#231f20; }
.flex-control-paging li a.flex-active { background:#231f20; cursor: default; box-shadow:none;}

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}


